.groupCards
{
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 20px;
}


.hover-zoom {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-zoom img {
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
  
  .hover-zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
